<!-- Story text, pullquotes, inline image, solution boxes and tooltip -->
<div class="u-container-text">

  <% story.sections.forEach(function(section, i) { %>

    <!-- Story text -->
    <% if(section.type == "text"){ %>
      <%= t.renderMarkdown(story.sections[i].value) %>

    <!-- Subhed -->
    <% }else if(section.type == "subhed"){ %>
      <div class="subhed">
        <img data-aos="fade-down" alt="<%= section.value.alt %>" src="<%= section.value.img %>" />
        <h2 data-aos="fade-up"><%= section.value.text %></h2>
      </div>

    <!-- Inline aside -->
    <% }else if(section.type == "inline-aside"){ %>
      <img class="img-aside" alt="<%= section.value.alt %>" src="<%= section.value.img %>" />

    <!-- Question -->
    <% }else if(section.type == "question"){ %>
      <div class="container-question">
        <div class="item-a">
          <img class="question-image" alt="<%= section.value.alt %>" src="<%= section.value.img %>" />
        </div>
        <div class="item-b">
          <p><%= section.value.text %></p>
          <p><em><%= section.value.additionaltext %></em></p>
        </div>
      </div>

    <!-- Video -->
    <% }else if(section.type == "video"){ %>
    <div class='embed-container'>
      <iframe src='<%= section.value.videolink %>' frameborder='0' allowfullscreen></iframe>
    </div>

    <% }else if(section.type == "pullquote"){ %>
    <div data-aos="fade-down"><h3><span class="highlight-full"><%= section.value.text %></span></h3></div>

    <!-- Inline image -->
    <% }else if(section.type == "inline-img"){ %>

      <div class="inline-img">
      <img alt="<%= section.value.alt %>" src="<%= section.value.img %>" />
      <div class="caption">
        <p><%= section.value.caption %></p>
      </div>
      </div>

    <!-- Inline image right -->
    <% }else if(section.type == "inline-img-right"){ %>
      <div data-aos="fade-down" class="inline-img-right">
      <img alt="<%= section.value.alt %>" src="<%= section.value.img %>" />
      </div>

    <!-- Inline image left -->
    <% }else if(section.type == "inline-img-left"){ %>
      <div data-aos="fade-down" class="inline-img-left">
      <img alt="<%= section.value.alt %>" src="<%= section.value.img %>" />
      </div>

    <!-- Medium image + caption -->
    <% }else if(section.type == "image-medium"){ %>
      </div>
        <div data-aos="fade-up" class="image-medium">
          <img alt="<%= section.value.alt %>" src="<%= section.value.img %>" />
        </div>
        <div class="caption">
          <p><%= section.value.text %></p>
        </div>
      <div class="u-container-text">

      <!-- Multi image -->
      <% }else if(section.type == "multi-image"){ %>
        </div>
          <div data-aos="fade-up" class="multi-image-wrapper">
            <img alt="<%= section.value.alt1 %>" src="<%= section.value.img1 %>" />
            <img alt="<%= section.value.alt2 %>" src="<%= section.value.img2 %>" />
            <img alt="<%= section.value.alt2 %>" src="<%= section.value.img3 %>" />
          </div>
          <div class="caption">
            <p><%= section.value.text %></p>
          </div>
        <div class="u-container-text">

    <!-- Hero image + caption -->
    <% }else if(section.type == "hero"){ %>
      </div>
        <div class="hero-image u-max-full-width">
          <img alt="<%= section.value.alt %>" src="<%= section.value.img %>" />
        </div>
        <div class="caption">
          <p><%= section.value.caption %></p>
        </div>
      <div class="u-container-text">

      <% }else if(section.type == "cta-box"){ %>
        <div class="cta-box">
          <em><%= section.value.text %></em>
        </div>

<% } %>

<% }); %>

</div>
